.viko{
    background-color: lightblue !important;
}
.viko2{
    background-color: gainsboro !important;
}
.viko3{
    background-color: lightgreen !important;
}
.viko4{
    background-color: lightblue !important;
}
.viko5{
    background-color: lightyellow !important;
}
.viko6{
    background-color: lightpink !important;
}
.viko7{
    background-color: darkgrey !important;
}
.viko9{
    background-color: grey !important;
}